@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
    margin: 0;
    padding: 0;
  }
  :root{
    --font: 'Handlee', cursive;
    --color-dark: #001e;
    --color-secondary: #334e;
    --color-grey: #666;
    --color-white: white;
  }